* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-bar {
  /* background-color: rgb(163, 206, 244); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.nav-left i {
  font-size: 1.8rem;
}

.nav-left p {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-center p {
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-right button {
  padding: 0.7rem 0.9rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(29, 22, 29);
  color: rgb(238, 238, 238);
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-right button:hover {
  background-color: rgb(82, 42, 82, 0.8);
}

.hero-section {
  padding-inline: 2rem;
  padding-top: 0.5rem;
}

.content-container {
  height: 90vh;
  border-radius: 3rem;
  overflow: hidden;
  background: url(./media/heroBG.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 13rem;
}

.content-container h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.content-container p {
  font-size: 1.12rem;
  width: 20rem;
  margin: 1rem auto;
  font-weight: 350;
}

.content-container button {
  margin: 0.8rem 0rem;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(29, 22, 29);
  color: rgb(239, 239, 239);
  font-size: 1rem;
}
